[submodule "emacs/.emacs.d/q4"]
	path = emacs/.emacs.d/q4
	url = https://github.com/palikar/q4
[submodule "emacs/.emacs.d/reddit-mode"]
	path = emacs/.emacs.d/reddit-mode
	url = https://github.com/death/reddit-mode
